body {
    margin: 0;
    padding: 0;
  }
  
  a {
    color: #000;
  }
  
  /* header */

  .header {
    font-family: 'IBM Plex Mono', monospace;
    width: 100%;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 28px;
  }
  
  .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
  }
  
  .header li a {
    display: block;
    padding-bottom: 24px;
    text-decoration: none;
    color: #FFFFFF;
  }
  
  /* menu */
  
  .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }
  
  /* menu icon */
  
  .header .menu-icon {
    padding-top: 22px;
    padding-right: 19px;
    float: right;
  }
  
  .header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .header .menu-icon .navicon:before {
    top: 5px;
  }
  
  .header .menu-icon .navicon:after {
    top: -5px;
  }
  
  /* menu btn */
  
  .header .menu-btn {
    display: none;
  }
  
  .header .menu-btn:checked ~ .menu {
    max-height: 240px;
    padding-top: 16px;
    padding-left: 16px;
    background: #0000EC;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
  
  .lineThrough {
    text-decoration: line-through;
}

.dot {
  color: #0000EC;
}

.episodes {
    padding: 64px 11px 48px 11px;
    position: relative;
}

.episodes > p {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 36px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 42px;
    margin-top: 0;
    margin: auto;
    padding-bottom: 21px;
}



.button {
  width: 100%;
  height: 56px;
  background-color: #00F3BB;
  border: none;
  color: #060A24;
  padding: 16px 59px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;

  font-family: 'IBM Plex Mono', monospace;
  color: #060A24;
  letter-spacing: 0;
  line-height: 24px;
  font-weight: 500px;

  margin-bottom: 24px;
}

.buttonLatestNews {
  width: 89%;
  height: 56px;
  background-color: #00F3BB;
  border: none;
  color: #060A24;
  padding: 16px 59px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;

  font-family: 'IBM Plex Mono', monospace;
  color: #060A24;
  letter-spacing: 0;
  line-height: 24px;
  font-weight: 600;

  margin-bottom: 24px;
}

.header .logo {
  padding: 10px 0px 10px 16px;
}

.information {
    padding: 0 16px 0px 16px;
    padding-top: 0.5%;
  }

  .helloworld {
    padding: 0;
    margin: 0;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 36px;
    color: #060A24;
    letter-spacing: 0;
    padding-bottom: 16px;
  }

  .portal {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 14px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 24px;
    margin: 0;
    padding-bottom: 36px;
  }

  .iframes {
    /*padding-bottom: 132.5px;*/
  }

  .iframes iframe {
      width: 100%;
      /*padding-bottom: 11px;*/
  }

  .transformGradient {
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
    z-index: -1;
    transform: skewY(-6deg);
    transform-origin: top right;
  }

  .imgWhereWeComeFrom {
    max-width: 100%;
    height: 519px;
    padding-bottom: 27px;
  }


  /* */ 

  .whereWeComeFrom {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 54px;
    flex-direction: column;
    position: relative;
  }

  .divPWhereWeComeFrom {
    padding-left: 5%;
  }

  .titleWhereWeComeFrom {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 36px;
    color: #060A24;
    letter-spacing: 0;
    margin-top: 0;
    margin-bottom: 24px;
    width: 288px;
  }
  
  .pWhereWeComeFrom {
    width: 288px;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 24px;
    margin: 0px;
  }

  .pStellarGuests {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 36px;
    color:#060A24 ;
    letter-spacing: 0;
    margin-top: 0;
    width: 95%;
    padding-left: 16px;
    margin-bottom: 16px;
    box-sizing: border-box;
  }

  .imgStellarGuests {
    height: 243px;
  }

  .imgStellarGuests-first {
    display: flex;
    flex-direction: column;
  }

  .imgStellarGuests-second {
    display: flex;
    flex-direction: column;
  }


  /* */
  .titleSomeOfOurThemes {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 36px;
    color: #060A24;
    letter-spacing: 0;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0;
    margin-top: 48px;
    margin-bottom: 37px;
  }

  .pSomeOfOurThemes {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 24px;
    color: #060A24;
    letter-spacing: 0;
    text-align: center;
    font-weight: 600;
    padding: 0 25px;
    box-sizing: border-box;
  }
  
  .listSomeOfOurThemes {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .svgSomeOfOurThemes {
    width: 104px;
    height: 104px;
  }
  
  .imgPSomeOfOurThemes {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 49px;
  }

  .iframeImg {
    border: 0; 
    height: 160px;
  }

  .divLatestNews {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 64px;
    padding-bottom: 67px;
    overflow: hidden;
  }
  
  .titleLatestNews {
    font-size: 36px;
    font-family: 'IBM Plex Sans', sans-serif;
    color: #FFFFFF;
    margin: 0;
    padding-bottom: 36px;
    width: 52%;
  }

  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 24px 0px 31px 0px;
  }

  .copyFooter {
    margin: 0;
    padding-bottom: 16px;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 22px;
  }

  .iconsFooter {
    display: flex;
    justify-content: space-around;
  }

  .iconSocialNetwork {
    color: #060A24;
  }

  /* 48em = 768px */
  
  @media (min-width: 48em) {
      .header {
        display: flex;
        justify-content: space-between;
      }
    .header li {
      float: left;
    }
    .header li a {
      padding: 26px 48px 26px 0px;
      color: #060A24;
    }
    .header .menu {
      max-height: none;
      padding-right: 52px;
    }
    .header .menu-icon {
      display: none;
    }

    .header .logo {
        display: block;
        float: left;
        font-size: 2em;
        padding: 0.6% 0px 0.6% 6.9%;
        text-decoration: none;
      }

      .information {
        padding-left: 13.9%;
        padding-right: 34.7%;
        padding-top: 120px;
      }

      .helloworld {
        font-size: 56px;
      }

      .portal {
        font-size: 16px;
      }

      .button {
        width: 226px;
        font-size: 18px;
      }

      .iframes iframe {
        width: 50%;
        padding: 0px 5% 72px 0px;
    }

    .iframes {
      display: flex;
      flex-wrap: wrap;
      padding: 0px 1.9% 0px 6.9%;
      justify-content: space-between;
    }

    .episodes {
      padding: 186px 11px 0px 11px;
    }

    .episodes > p {
      font-size: 48px;
      padding-left: 13.9%;
      padding-bottom: 72px;
    }

    .imgWhereWeComeFrom {
      max-width: 100%;
      height: 660px;
      padding-bottom: 0px;;
    }

    .whereWeComeFrom {
      padding-bottom: 64px;
      flex-direction: inherit;
      position: inherit;
    }

    .divPWhereWeComeFrom {
      padding-left: 4.3%;
    }

    .titleWhereWeComeFrom {
      font-size: 48px;
      width: inherit; 
      margin: 0;
      padding-bottom: 24px;
    }
    
    .pWhereWeComeFrom {
      width: 464px;
    }

    .pStellarGuests {
      font-size: 48px;
      padding-left: 200px;
      margin-bottom: 36px;
    }

    .imgStellarGuests-first {
      display: flex;
      flex-direction: inherit;
    }
  
    .imgStellarGuests-second {
      display: flex;
      flex-direction: inherit;
    }

    .imgStellarGuests {
      width: 33.33%;
      height: 364px;
    }
    
    .titleSomeOfOurThemes {
      font-size: 48px;
      padding-left: 13.9%;
      margin-top: 64px;
      margin-bottom: 56px;
    }

    .pSomeOfOurThemes {
      font-family: 'IBM Plex Sans', sans-serif;
      font-size: 24px;
      color: #060A24;
      letter-spacing: 0;
      text-align: center;
      font-weight: 600;
    }
    
    .listSomeOfOurThemes {
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding: 0 15.3%;
    }
    
    .svgSomeOfOurThemes {
      width: 104px;
      height: 104px;
      padding-bottom: 29px;
    }
    
    .imgPSomeOfOurThemes {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: calc(100% / 4);
    }

    .iframeImg {
      height: 232px;
    }
    
    .buttonLatestNews {
      width: 100%;
      width: 345px;
      font-size: 18px;
    }

    .titleLatestNews {
      font-size: 48px;
      font-family: 'IBM Plex Sans', sans-serif;
      color: #FFFFFF;
      margin: 0;
      padding-bottom: 36px;
      width: inherit;
    }

    .divLatestNews {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-top: 213px;
      padding-bottom: 151px;
      overflow: hidden;
    }

    .footer {
      display: flex;
      flex-direction: inherit;
      justify-content: space-between;
      text-align: inherit;
      padding: 36px 0px 31px 0px;
    }

    .iconSocialNetwork{
      padding-right: 36px;
    } 

    .copyFooter {
      padding-left: 6.9%;
      padding-bottom: inherit;
      font-size: 16px;
    }

    .iconsFooter {
      padding-right: 64px;
    }

  }

 

  @media screen and (min-width: 767px) and (max-width: 920px) { 

    .pWhereWeComeFrom {
      width: 320px;
    }

    .listSomeOfOurThemes {
      padding: 0 8.3%;
    }

    .pSomeOfOurThemes {
      padding: 0 0;
    }

   }

   @media screen and (min-width: 921px) and (max-width: 1024px) { 

    .listSomeOfOurThemes {
      padding: 0 5.3%;
    }

   }